<div class="app-page-content mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">

    <h1 class="mdl-typography--display-3">
        List of sensors
    </h1>

    <div class="mdl-cell--12-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" (click)="refreshSensors()">
            Scan for sensors
        </button>
    </div>

    <hr />

    <sensor-filter #filterCmp (filterChange)="refreshSensors($event)"></sensor-filter>

    <hr />

    <sensor-list [sensors]="sensors | filterSensor: filterCmp.selectedCategory" showAdd="true" (addItem)="addToDashboard($event)"></sensor-list>

</div>

<div class="app-page-content mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">

    <h1 class="mdl-typography--display-2">
        Configured sensors
    </h1>

     <div *ngIf="configuredSensors && configuredSensors.length > 0">
        <sensor-list [sensors]="configuredSensors"></sensor-list>
    </div>
    <div *ngIf="!configuredSensors || configuredSensors.length === 0">
        <p><i>No sensors configured yet</i></p>
    </div>
</div>